#map{
position:absolute;
top: 0%;
left: 25%;
background-color: rgb(233, 233, 233);
height: 100%;
width: 50%;
}

#selection{
position:absolute;
top: 0%;
left: 0%;
background-color: rgb(233, 233, 233);
height: 100%;
width: 25%;
overflow-y: scroll;
}
#rightpart{
  position: absolute;
  top: 0%;
  left: 75%;
  background-color: rgb(233, 233, 233);
  height: 100%;
  width: 25%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
#rangevalue{
  background-color: rgb(233, 233, 233);
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 10px;
}
#maplegend{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 420px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 15px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  border-top: 1px solid #ccc;
}
#mapbuttons{
  position:relative;
  top:5px;
  left:0px;
}
#legend{
  display: flex;
  flex-direction: row;
}
#couleurlegend{
  width: 60px;
}
#darkred{
  position: relative;
  top: 15px;
  left: 10px;
  background-color: rgb(150, 0, 0);
  width: 40px;
  height: 20px;
}
#red{
  position: relative;
  top: 30px;
  left: 10px;
  background-color: rgb(255, 0, 0);
  width: 40px;
  height: 20px;
}
#orange{
  position: relative;
  top: 45px;
  left: 10px;
  background-color: rgb(255, 150, 0);
  width: 40px;
  height: 20px;
}
#yellow{
  position: relative;
  top: 59px;
  left: 10px;
  background-color: rgb(255, 255, 0);
  width: 40px;
  height: 20px;
}
#green{
  position: relative;
  top: 74px;
  left: 10px;
  background-color: rgb(0, 255, 0);
  width: 40px;
  height: 20px;
}
#lightblue{
  position: relative;
  top: 87px;
  left: 10px;
  background-color: rgb(0, 255, 255);
  width: 40px;
  height: 20px;
}
#blue{
  position: relative;
  top: 102px;
  left: 10px;
  background-color: rgb(0, 0, 255);
  width: 40px;
  height: 20px;
}
#black{
  position: relative;
  top: 116px;
  left: 10px;
  background-color: rgb(0, 0, 0);
  width: 40px;
  height: 20px;
}
#blackCont{
  position: relative;
  top: 130px;
  left: 10px;
  width: 34px;
  height: 20px;
  border: 4px solid black;
}

#explicationlegend{
}

.titreclasse{
  font-size: 22px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.titresousclasse{
  font-size: 18px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-top: 2px solid black;
}
.titresous2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.LegendText{
  font-size: 16px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}