#map{
position:absolute;
top: 0%;
left: 25%;
background-color: rgb(233, 233, 233);
height: 100%;
width: 50%;
}

#selection{
position:absolute;
top: 0%;
left: 0%;
background-color: rgb(233, 233, 233);
height: 100%;
width: 25%;
overflow-y: scroll;
}

#rangevalue{
  position: absolute;
  top: 0%;
  left: 75%;
  background-color: rgb(233, 233, 233);
  height: 100%;
  width: 25%;
}
.titreclasse{
  font-size: 22px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.titresousclasse{
  font-size: 18px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-top: 2px solid black;
}
.titresous2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}